body {
	font-family: Georgia, Times ,serif;
	background-color: rgb(206, 234, 239,0.5);
	text-align: justify;
	padding-left: 40px;
	padding-top: 30px;
	padding-right: 40px;
	margin-top:15px;
}

h1{
	font-family: Verdana,sans-serif;
	color : rgb(41,60,91,0.8);
	text-shadow: 3px 3px 5px rgb(41,60,91,0.4);
	text-align: center;
}
h4{
	font-family: Veradana,sans-serif;

}

p{
	letter-spacing: 1px;
	padding: 30px;
	background-color: rgb(200,200,200,0.4);
	box-shadow: 5px 5px 10px rgb(100,100,100,0.2);
	border-radius: 15px 10px;
}

#comparison-table{
	padding: 30px;
	background-color: rgb(206,234,255,0.6);
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(215,234,255,0.5);
	position: absolute;
	left: 40%;
}

